.title-cointainer {
    width: 100%;
    height: 90px;
    padding: 15px 50px 0 50px;
}

.container {
    height: calc(100vh - 2px);
    width: 100%;
}

.logo {
    height: 100px;
}

.number-big {
    font-size: 5rem;
    font-weight: bolder;
    float: left;
    margin: 0;
}

.number-small {
    float: left;
    padding: 15px 0;
    color: gray;
    font-size: 1.1rem;
}

.question {
    float: left;
    max-width: 75%;
    padding: 0 40px;
}

.question span {
    font-size: 5rem;
    font-weight: 600;
}

.nav-item {
    float: right;
    padding: 50px 0 0;
}

.question-cointainer {
    width: 100%;
    height: calc(100% - 90px);
    padding: 0 50px;
}

.questions-section {
    height: calc(100% - 120px);
    width: 100%;
}

.answer-cointainer {
    width: 100%;
    height: 120px;
}

.width-10 {
    width: 10%;
    float: left;
    padding: 0 5px;
}

.answers {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: gray;
    font-family: fantasy;
    border-bottom: 1px solid;
    padding-bottom: 12px;
}

.answers:hover > span {
    border: 1px solid;
    color: #000000;
    border-radius: 50%;
    padding: 7px 20px;
}
.answers:hover {
    border-bottom: none;
}

.questions-part {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    position: relative;
}

.nav-bar {
    float: left;
    height: 100%;
    width: 250px;
    overflow: auto;
}

.nav-bar span {
    color: gray;
    width: 100%;
    display: block;
    text-align: right;
    font-size: large;
    font-weight: 600;
    padding: 9px 0px;
    text-transform: capitalize;
}
.nav-bar span:hover {
    color: #000000;
}

.nav-bar span.active {
    color: #000000;
}

.comments {
    width: 100%;
    float: left;
}

.comments .comments-left {
    float: left;
    margin-top: 10px;
}

.comments .comments-right {
    float: right;
    margin-top: 10px;
}

.questions-part::after {
    content: "question";
    font-size: 6rem;
    color: gray;
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8080808a;
    position: absolute;
    right: 5px;
    bottom: 40px;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.model {
    width: 300px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 1;
}

.model-content {
    padding: 10px 0;
}

button {
    padding: 5px 19px;
    background: blue;
    border: none;
    border-radius: 6px;
    color: white;
}

.model-about {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.about-close {
    float: right;
    margin: 20px;
}

.about {
    height: calc(100vh - 2px);
    width: 100%;
    background-color: #fff;
}

table {
    min-width: 400px;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}